<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <title>{% block title %}This will probaly never show on page.{% endblock title %}</title>
</head>
<body>
    {% block nav %}
    {% endblock nav %}

    {% block content %}
    {% endblock content %}
</body>
</html>