<a
    href={% url 'admin:index' %}
    >
    {% url 'admin:index' %}
</a>
<span>&nbsp&nbsp-&nbsp&#123% url 'admin:index' %&#125</span>
<br>
<br>
<a
    href={% url 'api-root' %}
    >
    {% url 'api-root' %}
</a>
<span>&nbsp&nbsp-&nbsp&#123% url 'api-root' %&#125</span>
<br>
<br>
<a
    href={% url 'the-thing-api-viewname-list' %}
    >
    {% url 'the-thing-api-viewname-list' %}
</a>
<span>&nbsp&nbsp-&nbsp&#123% url 'the-thing-api-viewname-list' %&#125</span>
<br>
<a
    href={% url 'the-user-api-viewname-list' %}
    >
    {% url 'the-user-api-viewname-list' %}
</a>
<span>&nbsp&nbsp-&nbsp&#123% url 'the-user-api-viewname-list' %&#125</span>
<br>
<br>
<a
    href={% url 'the-user-api-viewname-detail' 1 %}
    >
    {% url 'the-user-api-viewname-detail' 1 %}
</a>
<span>&nbsp&nbsp-&nbsp&#123% url 'the-user-api-viewname-detail' 1 %&#125</span>
<br>
<br>
<a
    href={% url 'the-current-user-list-api-viewname-list' %}
    >
    {% url 'the-current-user-list-api-viewname-list' %}
</a>
<span>&nbsp&nbsp-&nbsp&#123% url 'the-current-user-list-api-viewname-list' %&#125</span>
<br>
<a
    href={% url 'the-current-user-api-viewname' %}
    >
    {% url 'the-current-user-api-viewname' %}
</a>
<span>&nbsp&nbsp-&nbsp&#123% url 'the-current-user-api-viewname' %&#125</span>
<br>
<br>
<h2>Example Search URLs</h2>
<h3>Search by description</h3>
<a
    href="/api/v1/things/description/?search=My"
    target='_blank'
    >
    /api/v1/things/description/?search=My
</a>
<br>
<a
    href="/api/v1/things/description/?search=my"
    target='_blank'
    >
    /api/v1/things/description/?search=my
</a>
<br>
<a
    href="/api/v1/things/description/?search=the"
    target='_blank'
    >
    /api/v1/things/description/?search=the
</a>
<br>
<a
    href="/api/v1/things/description/?search=purr"
    target='_blank'
    >
    /api/v1/things/description/?search=purr
</a>
<br>
<a
    href="/api/v1/things/description/?search=language"
    target='_blank'
    >
    /api/v1/things/description/?search=language
</a>
<br>
<a
    href="/api/v1/things/description/?search=gaming"
    target='_blank'
    >
    /api/v1/things/description/?search=gaming
</a>
<br>
<br>
<h3>Search by name</h3>
<a
    href="/api/v1/things/name/?search=itt"
    target='_blank'
    >
    /api/v1/things/name/?search=itt
</a>
<br>
<a
    href="/api/v1/things/name/?search=surelyNotExistent"
    target='_blank'
    >
    /api/v1/things/name/?search=surelyNotExistent
</a>
<br>

