<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDos Conglomerate</title>
</head>
<body>
    {% csrf_token %}
    <nav>
        <a href="">Home</a><br>
        <a href="/admin/" target="_blank">Django Admin Interface</a><br>
        <a href="/api/v1/todos/" target="_blank">
            <code>todos</code> - Django Browsable API
        </a><br>
        <a
            href="http://localhost:8000/admin/todos/todo/"
            target="_blank"
            >
            ToDos - Django Admin Interface
        </a><br>
    </nav>
    <main id="app">

        <h2>Add Something Here?!?!?</h2>
        <add-component
            @add-item="addItem"
            ></add-component>

        <h2>The Obligatory Big List!</h2>
        <ul>
            <item-component
                v-for="todo in theTodos"
                v-bind:prop-variable-in-component="todo"
                v-bind:key="todo.id"
                @delete-item="deleteItem"
                @update-item="updateItem"
                ></item-component>
        </ul>

        <h2>Raw Items!</h2>
        <p>
            [[ theTodos ]]
        </p>

    </main>
    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        // pipenv shell
        // Start server:
        // python manage.py runserver

        Vue.component('add-component', {
            delimiters: ['[[', ']]'],
            data: function() {
                return {
                    newItem: {},
                }
            },
            template:`
                <div>
                    <label for="title">Title</label>
                    <input
                        type="text"
                        id="title"
                        v-model="newItem.title"
                        placeholder="Title"
                        >
                    <br>
                    <label for="description">Description</label>
                    <input
                        type="text"
                        id="description"
                        v-model="newItem.description"
                        placeholder="Description"
                        >
                    <button @click="addItem">Add Item</button>
                </div>
            `,
            methods: {
                addItem: function() {
                    this.$emit('add-item', this.newItem)
                    this.newItem = {}
                },

            },
        })

        Vue.component('item-component', {
            delimiters: ['[[', ']]'],
            data: function() {
                return {
                    editMode: false,
                }
            },
            props: {
                propVariableInComponent: Object,
            },
            template: `
            <li>
                <button v-on:click="editMode = !editMode">
                    <template v-if="editMode">Done Editing</template>
                    <template v-else>Edit</template>
                </button>
                <button
                    v-if="editMode"
                    v-on:click="deleteItem(propVariableInComponent)">
                    Delete
                </button>
                <button
                    v-if="editMode"
                    v-on:click="updateItem(propVariableInComponent)">
                    Update
                </button>
                [[ propVariableInComponent.id ]]
                :
                <template v-if="editMode">
                    <input
                        v-model="propVariableInComponent.title"
                        type="text"
                        >
                </template>
                <template v-else>
                    [[ propVariableInComponent.title ]]
                </template>
                -
                <template v-if="editMode">
                    <input
                        v-model="propVariableInComponent.description"
                        type="text"
                        >
                </template>
                <template v-else>
                    [[ propVariableInComponent.description ]]
                </template>
            </li>
            `,
            methods: {
                deleteItem: function(payload) {
                    // console.log('Item: ', payload)
                    console.log
                    (
                        "Delete Item - in Component:",
                        payload.id,
                        payload.title
                    )
                    this.$emit('delete-item', payload)
                },
                updateItem: function(payload) {
                    // console.log('Item: ', payload)
                    console.log(
                        "Update Item - in Component:",
                        payload.id,
                        payload.title
                    )
                    this.$emit('update-item', payload)
                    this.editMode = false
                },
            },
            mounted: function() {
                console.log("Component 'item-component' mounted: ", this.propVariableInComponent.title)
            },
            updated: function() {
                console.log("Component 'item-component' updated: ", this.propVariableInComponent.title)
            },
        })

        const vm = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                theTodos: [],
                todosUrl: '/api/v1/todos/',


                testItem: {
                    "title": "Garble the Code",
                    "description": "Break It!"
                },
                
                testPatchItem: {
                    "title": "No Stinking Badgers!",
                },
            },
            methods: {
                loadTodosGet: function() {
                    axios.get(
                        this.todosUrl
                    ).then(response => {
                        console.log('response: ', response)
                        this.theTodos = response.data;
                    }).catch(error => {
                        console.log(error);
                    });
                },
                loadTodos: function() {
                    axios({
                        method: 'get',
                        url: this.todosUrl,
                    }).then(response => {
                        console.log('response: ', response)
                        this.theTodos = response.data;
                    }).catch(error => {
                        console.log(error);
                    });
                },
                addItem: function(payload) {
                    console.log('Add Item: ', payload.title)
                    axios({
                        method: 'post',
                        url: this.todosUrl,
                        headers: {
                            "X-CSRFToken": this.csrf_token
                        },
                        data: payload,
                    }).catch(error => {
                        console.log(error);
                    })
                    this.loadTodos()
                },
                deleteItem: function(payload) {
                    console.log('Delete Item - in Root: ', payload.id, payload.title)
                },
                updateItem: function(payload) {
                    console.log('Update Item - in Root: ', payload.id, payload.title)
                    axios({
                        method: 'put',
                        url: this.todosUrl + payload.id + '/',
                        headers: {
                            "X-CSRFToken": this.csrf_token
                        },
                        data: payload,
                    }).catch(error => {
                        console.log(error);
                    })
                    this.loadTodos()
                },
            },
            computed: {
                todosCount: function() {
                    return this.theTodos.length;
                },

                completedTodosArrow: function() {
                    return this.theTodos.filter(todo => todo.completed);
                },
                completedTodos: function() {
                    return this.theTodos.filter(function(todo) {
                        return todo.completed;
                    });
                },

                incompletedTodosArrow: function() {
                    return this.theTodos.filter(todo => !todo.completed);
                },
                incompletedTodos: function() {
                    return this.theTodos.filter(function(todo) {
                        return !todo.completed;
                    });
                },

            },
            beforeCreate: function() {
                console.log("About to Create!")
            },
            created: function() {
                console.log("Created")
                this.loadTodos();
            },
            beforeMount: function() {
                console.log("About to Mount!")
            },
            mounted: function() {
                console.log("Mounted")
                this.csrf_token = document.querySelector("input[name=csrfmiddlewaretoken]").value
            },
            beforeUpdate: function() {
                console.log("About to Update!")
            },
            updated: function() {
                console.log("Updated")
            },
            beforeDestroy: function() {
                console.log("About to Destroy!")
            },
            destroyed: function() {
                console.log("Destroyed")
            },
        })
    </script>
</body>
</html>