<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDos Conglomerate</title>
</head>
<body>
    {% csrf_token %}
    <nav>
        <a href="">Home</a><br>
        <a href="/admin/" target="_blank">Django Admin Interface</a><br>
        <a href="/api/v1/todos/" target="_blank">
            <code>todos</code> - Django Browsable API
        </a><br>
        <a
            href="http://localhost:8000/admin/todos/todo/"
            target="_blank"
            >
            ToDos - Django Admin Interface
        </a><br>
    </nav>
    <main id="app">

        <h2>Root Methods:</h2>
        <button
            v-on:click="loadTodosGet"
            >
            <code>loadTodosGet()</code>
        </button>
        <br>

        <button
            v-on:click="loadTodos"
            >
            <code>loadTodos()</code>
        </button>
        <br>
        
        <button
            v-on:click="addItem"
            >
            <code>addItem()</code>
        </button>
        <br>
        
        <label for="test-item-id">Test Item ID:</label>
        <input
            type="text"
            id="test-item-id"
            v-model="testItemId"
            >
            <button
            v-on:click="deleteItemById(testItemId)"
            >
            <code>deleteItemById(testItemId)</code>
        </button>
        <br>

        <button
            v-on:click="deleteItemByObject"
            >
            <code>deleteItemByObject()</code>
        </button>
        <br>
        
        <button
            v-on:click="deleteItem()"
            >
            <code>deleteItem()</code>
        </button>
        <br>
        
        <button
            v-on:click="updateItem"
            >
            <code>updateItem()</code>
        </button>
        <br>
        

        <h2>Add Something Here?!?!?</h2>

        <h2>The Obligatory Big List!</h2>

        <h2>Simple List!</h2>
        <ul>
            <simple-item
                v-for="toDo in theToDos"
                v-bind:to-do-item="toDo"
                v-bind:key="toDo.id"
                ></simple-item>
        </ul>

        <h2>Raw Items!</h2>
        <p>
            [[ theToDos ]]
        </p>

    </main>
    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        // pipenv shell
        // Start server:
        // python manage.py runserver

        Vue.component('simple-item', {
            delimiters: ['[[', ']]'],
            props: ['toDoItem'],
            template: `
                <li>
                    [[ toDoItem.id ]] - [[ toDoItem.title ]]
                </li>
            `
        })

        const vm = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                theToDos: [],
                todosUrl: '/api/v1/todos/',


                testItemId: "",
                testItemToAdd: {
                    "title": "Newly added Item?",
                    "description": "Do we got a description?",
                },
                testItemToPatch: {
                    "title": "Item has been patched!",
                },
            },
            methods: {
                loadTodosGet: function() {
                    axios.get(
                        this.todosUrl
                    ).then(response => {
                        console.log('response: ', response)
                        this.theToDos = response.data;
                    }).catch(error => {
                        console.log(error);
                    });
                },
                loadTodos: function() {
                    axios({
                        method: 'get',
                        url: this.todosUrl,
                    }).then(response => {
                        console.log('response: ', response)
                        this.theToDos = response.data;
                    }).catch(error => {
                        console.log(error);
                    });
                },
                addItem: function() {
                    console.log('Add Item: ', this.testItemToAdd)
                    axios({
                        method: 'post',
                        url: this.todosUrl,
                        headers: {
                            "X-CSRFToken": this.csrf_token
                        },
                        data: this.testItemToAdd,
                    }).then(response => {
                        console.log('response: ', response)
                        this.loadTodos()
                    }).catch(error => {
                        console.log(error);
                    })
                },

                deleteItemById: function(payload) {
                    console.log('Delete Item By ID - in Root: ', payload)
                    axios({
                        method: 'delete',
                        url: this.todosUrl + payload + '/',
                        headers: {
                            "X-CSRFToken": this.csrf_token
                        },
                    }).then(response => {
                        console.log('Deleted Item By ID - in Root: ', payload)
                        this.testItemId = ""
                        this.loadTodos()
                    }).catch(error => {
                        console.log(error);
                    })
                },
                deleteItemByObject: function(payload) {
                    console.log('Delete Item By Object - in Root: ', payload)
                },

                deleteItem: function(payload) {
                    console.log('Delete Item - in Root: ', payload)
                },
                updateItem: function(payload) {
                    console.log('Update Item - in Root: ', payload)
                },
            },
            computed: {
                todosCount: function() {
                    return this.theToDos.length;
                },

                completedTodosArrow: function() {
                    return this.theToDos.filter(todo => todo.completed);
                },
                completedTodos: function() {
                    return this.theToDos.filter(function(todo) {
                        return todo.completed;
                    });
                },

                incompletedTodosArrow: function() {
                    return this.theToDos.filter(todo => !todo.completed);
                },
                incompletedTodos: function() {
                    return this.theToDos.filter(function(todo) {
                        return !todo.completed;
                    });
                },

            },
            beforeCreate: function() {
                console.log("About to Create!")
            },
            created: function() {
                console.log("Created")
                this.loadTodos();
            },
            beforeMount: function() {
                console.log("About to Mount!")
            },
            mounted: function() {
                console.log("Mounted")
                this.csrf_token = document.querySelector("input[name=csrfmiddlewaretoken]").value
            },
            beforeUpdate: function() {
                console.log("About to Update!")
            },
            updated: function() {
                console.log("Updated")
            },
            beforeDestroy: function() {
                console.log("About to Destroy!")
            },
            destroyed: function() {
                console.log("Destroyed")
            },
        })
    </script>
</body>
</html>