{% load static %}

<title>Django related_name Example</title>

<h1>Django <code>related_name</code> Example</h1>

<section style="border:solid black .25em; padding:.5em">
    <a
        href='/admin/doc/models/auth.user/'
        >
            Django Admin Doc Page - Model: <code>auth.User</code>
    </a>
    <br>
    <br>
    <img
        src={% static 'images/auth_user_theme_dark.png' %}
        style='width: 75%;'
        >
    <img
        src={% static 'images/auth_user_theme_light.png' %}
        style='width: 75%;'
        >
</section>
<br>

<section style="border:solid black .25em; padding:.5em">
    <h2><code>things/models.py</code>:</h2>
    <pre>
        <code>
            from django.db import models


            class Thing(models.Model):
                #...
                owner = models.ForeignKey(
                    #...
                    related_name='owner_related_name_for_things',
                    #...
                    )
                #...
        </code>
    </pre>
</section>
<br>

<section style="border:solid black .25em; padding:.5em">
    <h2><code>templates/home.html</code>:</h2>
    <pre>
        <code>
            &ltp&gt&#123&#123 user.owner_related_name_for_things.all &#125&#125&lt/p&gt
        
            &#123% for single_user in user_list %&#125
                &ltp&gt&#123&#123 single_user.username &#125&#125 : &#123&#123 single_user.owner_related_name_for_things.all &#125&#125&lt/p&gt
            &#123% endfor %&#125
        </code>
    </pre>
</section>
<br>

<section style="border:solid black .25em; padding:.5em">
    <h2><code>user.owner_related_name_for_things.all</code> for current user</h2>
    <p>{{ user.owner_related_name_for_things.all }}</p>

    <h2><code>owner_related_name_for_things.all</code> for each of the users</h2>
    {% for single_user in user_list %}
        <p>{{ single_user.username }} : {{ single_user.owner_related_name_for_things.all }}</p>
    {% endfor %}
</section>
<br>

<nav style="border:solid black .25em; padding:.5em">
    <h2>Repository and Application Links</h2>
    <a
        href='https://github.com/brucestull/examples/tree/main/django/related-name'
        target='_blank'
        >
            GitHub Example <code>related_name</code> Repository
    </a>
    <br>
    <a
        href={% url 'admin:index' %}
        >
            Django Admin Page
    </a>
</nav>
<br>
    