<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Fundamentals 06</title>
</head>
<body>
    <nav>

    </nav>
    <main id='app1'>

        <component-to-add-item
            @add-item-to-global-array="addItemAppLevelFunction"
        ></component-to-add-item>

        <component-for-each-item-in-array
            v-for="iteratingVariableForItem in globalVariableAttribute"
            v-bind:prop-variable-in-component="iteratingVariableForItem"
            v-bind:key="iteratingVariableForItem.id"
            @do-something-big="doSomethingBigInMainMethods"
        ></component-for-each-item-in-array>

    </main>

    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- My JS -->
    <script>

        // Start server:
        // python -m http.server 8000
        Vue.component('component-to-add-item', {
            data: function() {
                return {
                    id: 5,
                    description: '',
                }
            },
            template: `
            <div>
                <h2>Gonna add something here!</h2>
                <input type="text" placeholder="Input one here" v-model="description" @keyup.enter="addItemComponentFunction">
                <button @click="addItemComponentFunction">Add One?</button>
            </div>
            `,
            methods: {
                addItemComponentFunction: function() {
                    console.log("Component Function: Are we adding one?")
                    this.$emit('add-item-to-global-array', {
                        id: this.id,
                        description: this.description,
                    })
                    this.id++
                    this.description = ''
                }
            }
        })

        Vue.component('component-for-each-item-in-array', {
            props: {
                propVariableInComponent: Object,
            },
            template: `
            <div>
            {{ propVariableInComponent.id }}
            :
            {{ propVariableInComponent.description }}
            <br>
            <button @click="$emit('do-something-big', propVariableInComponent)">Do Something: {{ propVariableInComponent.description }}</button>
            </div>
            `,
        })

        const app1 = new Vue({
            el: '#app1',
            data: {
            globalVariableAttribute: [
                { id: 1, description: 'Zeroth?'       },
                { id: 2, description: 'Firsteth!'     },
                { id: 3, description: 'Secondest??'   },
                { id: 4, description: 'Thirderist??'  },
            ],
            },
            methods: {
                doSomethingBigInMainMethods: function(theThing) {
                    console.log("We're trying to do something BIG:", theThing.description)
                },
                addItemAppLevelFunction: function(payload) {
                    console.log("App-Level Function: Are we adding one?")
                    console.log('payload: ', payload)
                    this.globalVariableAttribute.push(payload)
                },
            }
        })

    </script>
</body>
</html>