<h1>Index Page</h1>
<hr>

<h2>The ToDo List</h2>

<h3>Create a new ToDo</h3>
<form method="post" action="{% url 'the_app:create' %}">
    {% csrf_token %}
    <label for="the_todo_text">Todo Text</label>
    <input
        type="text"
        placeholder="Enter your ToDo"
        name="the_todo_text"
        id="the_todo_text"
    />
    <br>
    <label for="the_priority_chosen">Priority</label>
    <select name="the_priority_chosen" id="the_priority_chosen">
        {% for priority in the_priorities %}
        <option value={{ priority.id }}>{{ priority.name }}</option>
        {% endfor %}
    </select>
    <br>
    <input type="submit" value="Add ToDo" />
</form>
<hr>
<ol>
    {% for todo in the_todos %}
    
    <li>
        {{ todo.text }}
        <br>
        Priority: {{ todo.priority.name }}
        <br>
        Created Date: {{ todo.created_date }}
    </li>
    <br>
    
    {% endfor %}
</ol>
<hr>