<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <title>{% block title %}This will probably never show on browser tab.{% endblock %}</title>
</head>
<body>
    <nav>
    <a
        href="{% url 'home' %}"
        >
        Home
    </a>
    <br>
    <a
        href={% url 'admin:index' %}
        target='_blank'
        >
        Django Admin Interface
    </a>
    <br>
    <a
        href={% url 'admin:users_customuser_changelist' %}
        target='_blank'
        >
        Django Admin Interface - Users
    </a>
    <br>
    <a
        href={% url 'django-admindocs-docroot' %}
        target='_blank'
        >
        Django Documentation
    </a>
    <br>
    <a href={% url 'user_list' %}>User List</a><br>
    <a href={% url 'edit_user' 1 %}>User Edit '1'</a><br>
    <a href={% url 'user_detail' 1 %}>User Detail '1'</a><br>
    <a href={% url 'edit_user' 2 %}>User Edit '2'</a><br>
    <a href={% url 'user_detail' 2 %}>User Detail '2'</a><br>
    <a href={% url 'whatever' 3 %}>Whatever '3'</a><br>
    <br>
    <a href={% url 'edit_user' 1 %}>User Edit: '1' - admin</a><br>
    <a href={% url 'edit_user' 2 %}>User Edit: '2' - NotAnAdmin</a><br>
    <a href={% url 'edit_user' 3 %}>User Edit: '3' - NotAnotherAdmin</a><br>
    <a href={% url 'edit_user' 4 %}>User Edit: '4' - JoseyTheRecruiter</a><br>
    <a href={% url 'edit_user' 5 %}>User Edit: '5' - BunbunTheWhatever</a><br>
    <a href={% url 'edit_user' 6 %}>User Edit: '6' - EarlTheCandidate</a><br>
    </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>