{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<h1>Sign Up</h1>

{{ message }}
<form action={% url 'the_users_app:signup' %} method='post'>
    {% csrf_token %}
    <label for='username-input'>Username</label>
    <br>
    <input id='username-input' type='text' name='username_in_form' placeholder="Enter 'username' here... please">
    <br>
    <label for='password-input'>Password</label>
    <br>
    <input id='password-input' type='password' name='password_in_form' placeholder="Enter 'password' here... please">
    <br>
    <label for='password-confirm-input'>Password Confirm</label>
    <br>
    <input id='password-confirm-input' type='password' name='password_confirm_in_form' placeholder="Enter same 'password' here... please">
    <br>
    <input type="submit" value="Sign Me Up!">

{% endblock content %}