{% extends "base.html" %}

{% block title %}Users List - Django View{% endblock title %}

{% block content %}
<a href={% url 'home' %}>Home</a>

<h2>Users List - Django View</h2>

{% if users %}

    <h3><code>CustomUser</code>s Lists</h3>
    <h4>{{ users|length }} users found.</h4>
    <ul>
        {% for user in users %}
            <li>
                Username: {{ user.username }}<br>
                ID: {{ user.id }}<br>
                Is Superuser: {{ user.is_superuser }}<br>
            </li>
        {% endfor %}
    </ul>

    <h4>Raw <code>CustomUser</code>s <code>QuerySet</code></h4>
    {{ users }}

{% else %}

    <p>No users found.</p>

{% endif %}



{% endblock content %}