{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block nav %}
{% endblock nav %}

{% block content %}
    <main id="app1">

        <nav
            v-if="showApplicationLinks"
            >
            <a
                href={% url 'admin:index' %}
                >
                {% url 'admin:index' %}
            </a>
            <span>&nbsp&nbsp-&nbsp&#123% url 'admin:index' %&#125</span>
            <br>
            <br>
            <a
                href={% url 'api-root' %}
                target='_blank'
                >
                {% url 'api-root' %}
            </a>
            <span>&nbsp&nbsp-&nbsp&#123% url 'api-root' %&#125</span>
            <br>
            <br>
            <a
                href={% url 'the-thing-api-viewname-list' %}
                target='_blank'
                >
                {% url 'the-thing-api-viewname-list' %}
            </a>
            <span>&nbsp&nbsp-&nbsp&#123% url 'the-thing-api-viewname-list' %&#125</span>
            <br>
            <a
                href={% url 'the-user-api-viewname-list' %}
                target='_blank'
                >
                {% url 'the-user-api-viewname-list' %}
            </a>
            <span>&nbsp&nbsp-&nbsp&#123% url 'the-user-api-viewname-list' %&#125</span>
            <br>
            <br>
            <a
                href={% url 'the-user-api-viewname-detail' 1 %}
                target='_blank'
                >
                {% url 'the-user-api-viewname-detail' 1 %}
            </a>
            <span>&nbsp&nbsp-&nbsp&#123% url 'the-user-api-viewname-detail' 1 %&#125</span>
            <br>
            <br>
            <a
                href={% url 'the-current-user-list-api-viewname-list' %}
                target='_blank'
                >
                {% url 'the-current-user-list-api-viewname-list' %}
            </a>
            <span>&nbsp&nbsp-&nbsp&#123% url 'the-current-user-list-api-viewname-list' %&#125</span>
            <br>
            <a
                href={% url 'the-current-user-api-viewname' %}
                target='_blank'
                >
                {% url 'the-current-user-api-viewname' %}
            </a>
            <span>&nbsp&nbsp-&nbsp&#123% url 'the-current-user-api-viewname' %&#125</span>
            <br>
        </nav>

        <nav
            v-if="showDescriptionSearchLinks"
            >
            <br>
            <h2>Example Search URLs</h2>
            <h3>Search <code>Thing</code>s by description</h3>
            <a
                href="/api/v1/things/description/?search=My"
                target='_blank'
                >
                /api/v1/things/description/?search=My
            </a>
            <br>
            <a
                href="/api/v1/things/description/?search=my"
                target='_blank'
                >
                /api/v1/things/description/?search=my
            </a>
            <br>
            <a
                href="/api/v1/things/description/?search=the"
                target='_blank'
                >
                /api/v1/things/description/?search=the
            </a>
            <br>
            <a
                href="/api/v1/things/description/?search=purr"
                target='_blank'
                >
                /api/v1/things/description/?search=purr
            </a>
            <br>
            <a
                href="/api/v1/things/description/?search=language"
                target='_blank'
                >
                /api/v1/things/description/?search=language
            </a>
            <br>
            <a
                href="/api/v1/things/description/?search=gaming"
                target='_blank'
                >
                /api/v1/things/description/?search=gaming
            </a>
            <br>
            <br>
        </nav>

        <nav
            v-if="showNameSearchLinks"
            >

            <h3>Search <code>Thing</code>s by name</h3>
            <a
                href="/api/v1/things/name/?search=itt"
                target='_blank'
                >
                /api/v1/things/name/?search=itt
            </a>
            <br>
            <a
                href="/api/v1/things-github/name/?search=itt"
                target='_blank'
                >
                /api/v1/things-github/name/?search=itt
            </a>
            <br>
            <a
                href="/api/v1/things/name/?search=surelyNotExistent"
                target='_blank'
                >
                /api/v1/things/name/?search=surelyNotExistent
            </a>
            <br>
        </nav>

        <nav
            v-if="showUsernameSearchLinks"
            >
            <h3>Search <code>User</code>s by username</h3>
            <a
                href="/api/v1/users/username/?search=min"
                target='_blank'
                >
                /api/v1/users/username/?search=min
            </a>
            <br>
            <a
                href="/api/v1/users/username/?search=not"
                target='_blank'
                >
                /api/v1/users/username/?search=not
            </a>
            <br>
    </main>

    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- My JS -->
    <script>
        // Start server:
        // python -m http.server 8000
        const app1 = new Vue({
            el: '#app1',
            data: {
                showApplicationLinks: true,
                showDescriptionSearchLinks: true,
                showNameSearchLinks: true,
                showUsernameSearchLinks: true,
            },
            methods: {

            },
            computed: {

            },
            beforeCreate: function() {
                console.log("About to Create!")
            },
            created: function() {
                console.log("Created")
            },
            beforeMount: function() {
                console.log("About to Mount!")
            },
            mounted: function() {
                console.log("Mounted")
            },
            beforeUpdate: function() {
                console.log("About to Update!")
            },
            updated: function() {
                console.log("Updated")
            },
            beforeDestroy: function() {
                console.log("About to Destroy!")
            },
            destroyed: function() {
                console.log("Destroyed")
            },
        })
    </script>
{% endblock content %}