<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            This stuff will probably never be seen displayed on webpage
        {% endblock %}
    </title>
</head>

<body>
    <header>
        <div>
            <h2>Development Links</h2>
            <nav>
                <p>
                    <a
                    href={% url 'admin:index' %}
                    target='_blank'
                    >
                    Django Admin Interface
                    </a>
                    <br>
                    <a
                    href={% url 'admin:auth_user_changelist' %}
                    target='_blank'
                    >
                    Django Admin Interface - Users
                    </a>
                </p>
                <a href={% url 'home' %}>Home</a><br>
                <a href={% url 'the_django_app:home' %}>Django App Home</a><br>
                <a href={% url 'the_django_app:a-things' %}>Django App A-Things</a><br>
                <br>
                <a href="/api/v1/" target='_blank'>Django Browsable API</a><br>
                <br>
                <a href={% url 'signup' %}>Sign Up</a><br>
                <a href={% url 'login' %}>Login</a><br>
                <a href={% url 'logout' %}>Logout</a><br>
            </nav>
        </div>
        
        <div>
            <h2>User Status</h2>
            {% if user.is_authenticated %}
                Greetings, {{ user.username | capfirst }}!
            {% else %}
                <p>We don't know you!</p>
                <p><a href="{% url 'login' %}">Log In</a></p>
            {% endif %}
        </div>
    </header>
    
    {% block content %}
    {% endblock content %}

    {% block scripts %}
    {% endblock scripts %}
</body>

</html>