<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}This probaly will never display{% endblock title %}</title>
</head>
<body>
    <header>
        <nav>
            <a
                href={% url 'admin:index' %}
                target='_blank'
                >
                Django Admin Interface
            </a>
            <br>
            <a
                href={% url 'admin:accounts_customuser_changelist' %}
                target='_blank'
                >
                Django Admin Interface - Users
            </a>
            <br>
            <a
                href={% url 'django-admindocs-docroot' %}
                target='_blank'
                >
                Django Documentation
            </a>
            <br>
        </nav>
        <div>
            {% if user.is_authenticated %}
                Greetings, {{ user.username | capfirst }}!
                <p><a href="{% url 'logout' %}">Log Out</a></p>
            {% else %}
                <p>You are not logged in... unfortunately.</p>
            {% endif %}
        </div>
    </header>

    {% block content %}
    {% endblock content %}
</body>
</html>
