<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Function-Based Users Views{% endblock %}</title>
</head>
<body>
    <a href="/admin/auth/user/" target="_blank">Django Admin Interface - Users</a>
    <br>
    <a href="/admin/" target="_blank">Django Admin Interface</a>
    <br>
    <a href={% url 'the_users_app:home' %}>Go to Home</a>
    <br>
    <a href={% url 'the_users_app:login' %}>Login Page, PLEASE!</a>
    <br>
    <a href={% url 'the_users_app:signup' %}>Signup Page, PLEASE!</a>
    <br>
    <a href={% url 'the_users_app:logout' %}>Let me OUT, PLEASE!</a>
    <br>
    <a href={% url 'the_users_app:edit' %}>Edit me, PLEASE!</a>
    <br>
    {% block content %}
    {% endblock content %}
</body>
</html>